@model 請假系統.Models.LeaveTable



<!DOCTYPE html>

<h2>查詢請假項目</h2>
@Html.ActionLink("返回首頁", "Index")


<br />

<form method="get" action="/Home/SearchLeaveView">

    <div class="form-group row">
        <label for="input員編" class="col-sm-12">請輸入欲查詢員編</label>
        <div class="col-sm-10">
            <input type="text" id="input員編" name="員編" class="form-control" />
        </div>
    </div>
    <input class="btn btn-default" type="submit" value="查詢" />

</form>

